.menu-toggle {
  position: fixed;
  z-index: 1010; /* Above the navbar */
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  cursor: pointer;
  display: none; /* Added to initially hide the menu toggle */
}
#siteLogo{
  max-width: 60%;
  max-height: 60%
}
#image1{
  max-width: 30%;
  max-height: 30%;
}
#pres-image{
  max-width: 90%;
  max-height: 90%;
}
p {
  color:#000;
  font-size: 2.5vw;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;

}
.header {
  padding: 60px;
  background: rgba(0,0,0,0);
  color: white;
  font-size: 4em;
  text-align: center;
  margin-top: 5px;
}
.header h1 {
  font-size: clamp(2vw, 7vw, 10vw); 
  margin-bottom: 0;
}
.header h2 {
  font-size: clamp(1vw, 2.5vw, 6vw);
  font-weight: 100;
  font-style: italic;
  margin-top: 0;
}
.header h3 {
  color: #69340E;
  font-size: clamp(4vw, 4vw, 4vw);
  font-weight:bold;
  margin-top: 0;
  margin-bottom: 0;
}
.header h4 {
  color: Black;
  font-size: clamp(2.5vw, 2.5vw,2.5vw);
  font-weight:bold;
  margin-top: 0;
  margin-bottom: 0;
}

.body-list {
  padding-left: 20vw; /* Reduces the gap from the container's edge to the bullets */
  font-size: clamp(1.5vw, 2vw, 3vw);
  color: black;
  font-size:30px;
}
.body-li{
  font-size: clamp(1.5vw, 2vw, 3vw);
  text-align: left;
  list-style-type:disc; /* or any other style you prefer */
  position: center;
  left: -10px;
}
body {
  color: #000;
  background-color: #69340E;
}

.external-link-icon {
  height: 15px; /* Match the height of the text for alignment */
  width: 15px; /* Maintain aspect ratio */
  vertical-align:top; /* Align with the middle of the text */
  margin-left: 5px; /* Add some space between the text and the icon */
}
/* ###################### Gallery ###################### */
#committeeGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
}
.galleryImage{
  height: 300px;
  width: 300px;
}
#staffGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  
  flex-wrap: wrap;
  align-items: center;
  background-color: #69340E;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#position {
  margin: 10px;
  color: white;
  font-size: 30px;
}
#name {
  margin: 0px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
}

.scrolling-wrapper {
  padding-left: 20%;
  padding-right: 20%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
}
.flagImage{
  display: inline-block;
  height:200px;
  width:400px;
}
.scrollcard {
  position: relative;
  display: inline-block;
  height: 200px;
  width: 400px;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: center;
}
.flag-text{
  font-style: 'Merriweather';
  color: white;
}

/* ################## panel styles #################### */
.panel1 {
  width:100%;
  background-color: #69340E;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Merriweather";
}
.panel2 {
  width:100%;
  background-color: white;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Merriweather";
}
.panel3 {
  width:100%;
  background-color: white;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Merriweather";
}
.panel4 {
  width:100%;
  background-color: white;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Merriweather";
}
.panel5 {
  width:100%;
  background-color: white;
  min-height: 75vh;
  display: flex;
  flex-direction: column; /* Ensure children elements are stacked vertically */
  justify-content: center;
  align-items: center;
  font-family: "Merriweather";
}
.panel6 {
  width:100%;
  background-color: white;
  min-height: 30vh;
  display: flex;
  flex-direction: column; /* Ensure children elements are stacked vertically */
  justify-content: center;
  align-items: center;
  font-family: "Merriweather";
}
.panel7 {
  width:100%;
  background-color: white;
  min-height: 75vh;
  display: flex;
  flex-direction: column; /* Ensure children elements are stacked vertically */
  justify-content: center;
  align-items: center;
  font-family: "Merriweather";
}

/* ###################### NAV BAR ###################### */
.navbar {
  display: flex;
  justify-content: center; /* Center navbar items horizontally */
  align-items: center; /* Align navbar items vertically */
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 255); /* Adjust the navbar color as needed */
  z-index: 1000;
}
.navbar ul {
  display: flex;
  justify-content: space-evenly; /* Evenly spaces out the navbar items */
  align-items: center;
  width: 100%; /* Ensures the ul element takes full width of the navbar */
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar li {
  margin: 0; /* Removes any default margin */
}
.navbar li a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  text-align: center;
}
.navbar li:hover > ul {
  display: block; /* Show dropdown on hover */
}
.navbar ul ul {
  display: none; /* Keep sub-menus hidden initially */
  position: absolute; /* Position sub-menus absolutely within their parent li */
  background-color: #333; /* Sub-menu background */
}
.navbar li:hover > ul {
  display: block;
}
.navbar ul ul li {
  float: none; /* Dropdown items should not float */
}
.navbar ul ul li a {
  padding: 10px; /* Slightly smaller padding for dropdown links */
  white-space: nowrap; /* Ensures dropdown items text does not wrap */
}
.navbar li a:hover {
  background-color: white;
  color: black;
}
/* Highlight dropdown menu items on hover */
.navbar ul ul li a:hover {
  background-color: white; /* Different shade for dropdown item hover */
}

@media screen and (min-width: 769px) {
  /* Parent item positioning */
  .navbar li {
      position: relative; /* Establishes a positioning context for dropdowns */
  }

  /* Dropdown menu styling to match parent item width */
  .navbar ul ul {
      position: absolute; /* Positions dropdown relative to its parent item */
      top: 100%; /* Aligns dropdown directly below the parent item */
      left: 0;
      width: 100%; /* Sets dropdown width equal to its parent item */
      background-color: #333; /* Or any desired background color */
      display: none; /* Ensures dropdown is not displayed until hovered */
      z-index: 1000; /* Ensures dropdown is above other content */
  }

  /* Ensure dropdown items take up full width of the dropdown */
  .navbar ul ul li a {
      width: 100%; /* Makes sure the link uses the full width of the dropdown */
      box-sizing: border-box; /* Includes padding and border in the element's total width */
  }

  /* Display dropdown on hover */
  .navbar li:hover > ul {
      display: block;
  }
}


@media screen and (max-width: 1150px) {
  #committeeGallery {
    display: flex; /* Enable flexbox */
    flex-wrap: nowrap; /* Prevent wrapping to ensure a single row */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scroll */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
    justify-content: flex-start; /* Align items at the start of the flex container */
    align-items: center; /* Center items vertically */
    padding-left: 0; /* Adjust padding as needed */
    padding-right: 0; /* Adjust padding as needed */
    margin: 0 auto; /* Center the gallery horizontally */
    width: 100%; /* Full width to utilize available space */
  }
  .card {
    flex: 0 0 auto; /* Do not grow, do not shrink, and based on its width */
    margin-right: 20px; /* Add some space between cards */
    width: 250px; /* Fixed width for each card */
    height: 350px; /* Fixed height for each card */
  }
  /* Ensure images within cards are responsive */
  .galleryImage {
    width: 250px;
    height: 250px;

  }  
  #position {
    margin: 10px;
    color: white;
    font-size: 25px;
  }
  #name {
    margin: 0px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
  }
  
}

@media screen and (max-width: 768px) {
  #siteLogo{
    max-width: 90%;
    max-height: 90%
  }
  #image1{
    max-width: 50%;
    max-height: 50%;
  }
  #pres-image{
    max-width: 70%;
    max-height: 70%;
  }
  p {
    font-size: 5vw;
    padding-left: 0vw;
    padding-right: 0vw;
  }
  .header h1 {
    font-size: 12vw; 
    margin-bottom: 20px;
  }
  .header h2 {
    font-size: 5vw;
  }
  .header h3 {
    font-size: 7vw;
  }
  .header h4 {
    font-size: 5vw;
  }
  .body-li{
    font-size: 4vw;
  }

  .navbar {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    display: block;
    width: 50%; /* Adjust the width of the sliding menu */
    background-color: black; /* Match the navbar color */
  }
  .menu-toggle {
    position: fixed;
    z-index: 1010; /* Above the navbar */
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    border: none;
    background: none;
    cursor: pointer;
  }
  .menu-toggle img {
    width: 50px;
    height: 50px;
  }
  .navbar ul {
    background-color: #000;
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    align-items:center; /* Aligns items to the right (end of the flex container) */
  }
  .navbar li {
    align-self: stretch; /* Makes each list item take full width of the container */
    text-align: center;  /* Aligns the text/link inside each <li> to the right */
  }
  .navbar li a {
    display: block; /* Ensures the anchor tags fill the list item */
    width: 90%; /* Ensures links take full width, clickable area is maximized */
  }

  .fixed-navbar-replacement {
    position: fixed; /* Keeps the image fixed during scrolling */
    top: 50%; /* Center it vertically */
    left: 2%; /* Align to the left side of the viewport */
    transform: translateY(-50%); /* Center it vertically with respect to its height */
    background-image: url('./assets/quick_scroll.png'); /* Path to your image */
    background-size: cover; /* Cover the entire div */
    background-position: center; /* Center the background image */
    width:60px; /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
    z-index: 1000; /* Ensure it stays above other content */
    display: none;
  }
  .fixed-navbar{
    display: none;
  }
  .scrolling-wrapper {
    padding-left: 20%;
    padding-right: 20%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 10px;
  }
  .flagImage{
    display: inline-block;
    height:100px;
    width:200px;
  }
  .scrollcard {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
  }
}
  

/* ################### Fixed NAV BAR #################### */

.fixed-navbar {
  position: fixed; /* Keeps the navbar fixed during scrolling */
  top: 41%; /* Center it vertically */
  left: 2%; /* Align to the left side of the viewport */
  transform: translateY(-50%); /* Center it vertically with respect to its height */
  background-color: rgba(0,0,0,0); /* Light background color */
  z-index: 1000; /* Ensure it stays above other content */
}
.fixed-navbar ul {
  list-style: none; /* Removes default list styling */
  padding: 0;
  margin: 0;
}
.fixed-navbar li {
  padding: 2px; /* Adds some space around the links */
}
.fixed-navbar a {
  text-decoration: none; /* Removes underline from links */
  color: black; /* Set the link color */
  display: block; /* Makes the entire list item clickable */
}
